body{
    padding: 80px;
    background: #7DC7ED url('https://raw.githubusercontent.com/CDEguia/CDEguia.github.io/master/images/wikien_1.png') no-repeat center fixed;
    background-position: 50% 80px;
}
h1{
    margin: 0px;
}
.centered {
    left: 50%;
    transform: translate(-50%)
}
a, a:hover{
    color: black;
    text-decoration: none;
}

.panel-info {
    background-color: rgba(217, 237, 247, 0.7);
}
@media (max-width: 768px) {
    .navbar-brand {
        display: none;
    }
}